$mercury: (
  name: "mercury",
  color: #ffac2e,
  speed: 5s,
  radius: 3px,
  orbit: 60px
);

$venus: (
  name: "venus",
  color: #46ffb8,
  speed: 7s,
  radius: 4px,
  orbit: 70px
);

$earth: (
  name: "earth",      
  color: #5ca8ff,
  speed: 8s,
  radius: 4px,
  orbit: 90px
);

$mars: (
  name: "mars",      
  color: #ff2a37,
  speed: 12s,
  radius: 3px,
  orbit: 110px
);

$jupiter: (
  name: "jupiter",
  color: #655123,
  speed: 18s,
  radius: 20px,
  orbit: 170px
);

$saturn: (
  name: "saturn",
  color: #9f8037,
  speed: 19s,
  radius: 18px,
  orbit: 220px
);

$uranus: (
  name: "uranus",
  color: #786b7a,
  speed: 23s,
  radius: 10px,
  orbit: 260px
);

$neptune: (
  name: "neptune",
  color: #2f9a9f,
  speed: 25s,
  radius: 4px,
  orbit: 290px
);

$pluto: (
  name: "pluto",
  color: #606060,
  speed: 30s,
  radius: 3px,
  orbit: 310px
);
